@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root{
    --yellow: #e3d810;
    --magenta: #d9138a;
    --pear:#88a74f;
    --lightpear:#637a39;
    --cyan: #2186aa;
    --black: #0a0a0a;
    --lightBlack: #a29a9c;
    --exLight: #f4f3f3;
    --transition: all 0.4s ease-in-out;
    --Heebo: 'Heebo', sans-serif;
    --Roboto: 'Robot', sans-serif;
    --poppins: 'Poppins', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: var(--poppins);
}

.nav{
      height: 60vh;
}

.intro{
      height: 50vh;
}

.maps{
      text-align: center;
      margin: 7em 0 ;
}

.contact-head{
      text-transform: uppercase;
      font-family: var(--poppins);
      font-size: 4rem;
      text-align: center;
}

.contact-para{
      text-align: center;
      font-family: var(--Roboto);
      font-size: 3rem;
      width: 35%;
      margin: 0 auto;
      margin-top: 0.5em;

      opacity: 0.5;
      text-transform: capitalize;

}

.contact-one{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 6.9em;
      margin-top: 4em;
}

.contact-one-flex{
      background-color: var(--exLight);
      width: 25%;
      height: 100%;
      padding: 2em;
      font-size: 1.5rem;
      border-radius: 10px;
      box-shadow: 2px 2px 20px 1px var(--lightBlack);
      margin-bottom: 3em;
      display: flex;
      align-items: center;
      justify-content: space-around;
}

.contact-one-flex .icon{
      font-size: 3rem;
      margin-right: 1em;
}

.opa{
      opacity: 0.7;
      font-family: var(--Heebo);
}

.social-medias{
      font-size: 6rem;
      cursor: pointer;
      margin:0 1em;
      transition: var(--transition);
}

.contact-social{
      text-align: center;
      padding: 2em;
      margin: 2em;
      display: flex;
      justify-content: space-evenly;
}

.social-medias:hover{
      color: var(--cyan);
}

@media (max-width:950px){
      .contact-one-flex{
            flex-direction: column;
      }
}

@media (max-width:900px){
      .contact-one{
            flex-direction: column;

      }
      
      .contact-one-flex{
            width: 50%;
            flex-direction: row;
            justify-content: space-around;
      }

      .contact-one-flex .icon{
            margin-right: 0;
      }
}

@media(max-width:600px){
      .contact-para{
            width: 100%;
      }

      .contact-one-flex{
            flex-direction: column;
            text-align: center;
            width: 75%;            
      }
}