@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=Roboto:wght@300&display=swap');

:root{
    --yellow: #e3d810;
    --magenta: #d9138a;
    --cyan: #12a4d9;
    --soft-cyan : #00ffff;
    --black: #0a0a0a;
    --lightBlack: #a29a9c;
    --pear:#accc70;
    --exLight: #f4f3f3;
    --transition: all 0.4s ease-in-out;
    --Heebo: 'Heebo', sans-serif;
    --Roboto: 'Robot', sans-serif;
    --poppins: 'Poppins', sans-serif;

}

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html{
    font-family: var(--poppins);
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    font-size: 50.5%;;
    scroll-behavior:smooth;

}

body{
      overflow-x: hidden;
}

.center{
      display: flex;
      align-items: center;
      justify-content: center;
}

.nav{
      background:   linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/header-bg-1.jpg) center/cover no-repeat fixed ;
      height: 100vh;
      /* width: 120vw; */
      background-attachment: fixed;

}

.nav-one{
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      background-color: var(--black);
      font-size: 2rem;
      color: var(--exLight);
      padding: 1em;
      font-weight: 600;

}

.hamburger , .close-btn{
      display: none;
      cursor: pointer;
}

.hamburger-icon , .close-btn{
      font-size: 5rem;
}

.nav-one-info > div{
      margin: 0 0.5em;

}

.nav-one > p{
      color: #b6abab;
      font-family: sans-serif;
}

.social i{
      margin: 0 0.3em;
      font-size: larger;
}

.nav-two{

      justify-content: space-between;
      margin: 1em;

}

.nav-two img{
      width: 9rem;
}


ul li{
      margin: 1.3em;
      list-style: none;
}

ul li a{
      color: var(--exLight);
      text-decoration: none;
      font-weight: bolder;
      font-size: 2.2rem;
      transition: all var(--transition) ease-in-out;
}

ul li a:hover{
      color: var(--pear);
}


/* CHANGE HERE  */
/* CHANGE HERE  */
/* CHANGE HERE  */

.intro{
      text-align: center;
      color: var(--exLight);
      height: 80vh;
      flex-direction: column;
      justify-content: space-evenly;
}

.intro h1{
      font-size: 9rem;
      font-weight: 900;
      text-transform:uppercase ;
      font-family: 'Courier New', Courier, monospace;
      font-family: var(--poppins);
}

.intro p{
      font-size: 3.5rem;
      width: 90%;
      font-family: sans-serif;
}

nav button.btn{
      padding: 1.5em 4em;
      font-size: 2rem;
      font-weight: 800;
      cursor: pointer;
      border: 2px solid var(--lightBlack);
      border-radius: 0.3em;
      transition: all var(--transition) ease-in-out;
}

nav button.btn:hover{
      color: var(--exLight);
      background-color: transparent;
}

@media(max-width:1100px){
      .intro h1{
            font-size: 7rem;
      }

      .intro p{
            font-size: 3rem;
      }
}



@media (max-width:1000px){
      .intro h1{
            font-size: 6rem;
      }

      .intro p{
            font-size: 2rem;
      }

      nav button.btn{
            padding: 1em 3em;
            font-size: 1.5rem;
      }

      .hamburger{
            display: block;
            position: fixed;
            right: 3%;
            top: 7%;
            z-index: 10;
      }

      .close-btn{
            display: block;
            margin-left: 4em;
            color: white;
      }

      .nav-links{
            background-color: var(--pear);
            border-left: 2px solid white;
            position: fixed;
            top: 0%;
            bottom: 0%;
            right: 0%;
            left: 60%;
            z-index: 20;
            flex-direction: column;
            justify-content:flex-start;
            align-items: left;
            text-align: left;
            transform: translateX(100%);
            transition: all 0.5s ease-in-out;

      }



      .nav-links.smooth{
            transform: translateX(0%);
      }

      .nav-links li a{
            transition: all 0.2s ease-in-out;
            font-size: 2.56rem;

      }

      .nav-links li{
            border-bottom: 2px solid white;
            width: 90%;
            
      }
      
      .nav-links li a:hover{
            color: var(--black);
            margin-left: 0.4em;
      }


}


.nav-two.nav-two.active-for-fixed .nav-links a{
      color:black;
      font-size: 2rem;
}

.nav-two.nav-two.active-for-fixed .nav-links a:hover{
      opacity: 0.6;
      border-bottom: 2px solid var(--pear);
}

a.active{
      border-bottom: 2px solid var(--pear);
      
}

@media  (min-width:1000px){
      .nav-two.active-for-fixed{
            position: fixed;
            top: 0%;
            right: 0%;
            left: 0%;
            background-color: white;
            margin: 0;
            z-index: 7;
      }
      
}

@media(max-width:670px){
      .nav-one{
            flex-direction: column;
            justify-content: space-between;
      }
}
/* NAV ENDS HERE  */








/* FOOTER STARTS HERE */
.up-arrow{
      font-size: 4.3rem;
      padding: 0.2em 0.3em;
      cursor: pointer;
      position: fixed;
      bottom: 4%;
      right: 3%;
      color: white;
      background-color: #322e2f;
      border-radius: 8px;
      display: none;
}

.up-arrow.active-for-back{
      display: block;
}

.footer{
      font-size: 1rem;
      text-align: center;
      background-color: var(--black);
      color: var(--lightBlack);

}

.footer-item{
      display: flex;
      justify-content: space-between;
      padding: 3em;
}

.footer li a{
      color: var(--lightBlack);
      font-size: 2rem;
      margin: 0;
}

.footer h1{
      color: white;
}

.footer li{
      padding: 0;
}

.footer-one {
      font-size: 2rem;
      width: 24%;
      font-weight: 600;
}

.footer-item .footer-one img{
      width: 10rem;
}

.social-media{
      color: white;
      font-size: 0.7rem;
      padding: 0.5em;
      border-radius: 50%;
}

.social-media:hover{
      border: 2px solid blueviolet;
      color: blueviolet;
}

.footer-four div{
      display: flex;
      align-items: center;
      justify-content: space-around;
      text-align: left;
      margin: 1em;
      font-size: 1.35rem;
}

.footer-four div i{
      font-size: 2.4rem;
      margin-right: 1em;
}

.copyright{
      font-size: 2rem;
      font-weight: 900;
}

@media (max-width:660px){
      .nav-one{
            background-color: var(--cyan);
      }
      
      .footer-item{
            flex-direction: column;
            text-align: center;
            align-items: center;
            display: grid;
            grid-template-columns: 1fr 1fr;
      }

      .footer-item div{
            width: 80%;
            margin: 0 auto;
      }

      .footer-four div {
            margin-right: 1em;
      }

}

@media(max-width:500px){
      .nav-one-info{
            flex-direction: column;
            margin: 1em 0;
      }
}