@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=Roboto:wght@300&display=swap');



*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
      --clr-moderate-violet: #7541c8;
      --clr-very-dark-grayish-blue: #48556a;
      --clr-very-dark-blackish-blue: #19212e;
      --clr-white: #ffffff;
      --clr-light-gray: #cfcfcf;
      --clr-light-grayish-blue: #ecf2f8;
      --yellow: #e3d810;
      --magenta: #d9138a;
      --cyan: #12a4d9;
      --soft-cyan : #00ffff;
      --black: #0a0a0a;
      --lightBlack: #a29a9c;
      --pear:#accc70;
      --exLight: #f4f3f3;
      --transition: all 0.4s ease-in-out;
      --Heebo: 'Heebo', sans-serif;
      --Roboto: 'Robot', sans-serif;
     --poppins: 'Poppins', sans-serif;

}

html {
  font-size: 50.5%;
}

.nav{
      height: 70vh;
}

.intro{
      height: 50vh;
}

main{
      font-size: 2rem;
      font-family: var(--poppins);
}


.wrapper-container{
  background-color: antiquewhite;
  
}

.purple{
  background-color: purple;

}

.grey{
  background-color: gray;
}

.white-small{
  background-color:blanchedalmond;
}

.grey-long{
  background-color: #48556a;
}

.white-tall{
  background-color: burlywood;
}

.wrapper-container{
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.wrapper{
  display: flex;
  gap: 10px;
}

.first-col , .thired-col{
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 10px;

}

.second-col{
  display: grid;
  grid-template-rows: 700px;
  gap: 10px;

}

h2{
  text-transform: uppercase;

}

p{
  font-family: var(--Heebo);

}

.top img{
  border-radius: 50%;
  margin: 10px ;
  margin-bottom: 0%;

}

.bottom{
  font-family: var(--Roboto);
}